# Sets
- Set is unordered
- set is unchangable for the values
- sets does not allow duplicate values
-

In [3]:
set_1={"Banana","Muskmelon","Apple","Banana"}
print(set_1)
print(type(set_1))
set_2={"Banana"}
print(type(set_2))

{'Banana', 'Apple', 'Muskmelon'}
<class 'set'>
<class 'set'>

In [4]:
set_3={"munna","og",True,False,1,0}  # 1= True and 0= False
print(set_3)

{False, 'og', 'munna', True}

In [5]:
if "Banana" in set_1:
    print(True)

True

# Update
- Adds elements from another set (or iterable) to the set.
- allow all iterables to update

In [6]:

set_1={"Banana","Muskmelon","Apple","Banana"}
set_2={"munna","sahoo","og",True,False,1,0}
set_1.update(set_2)
print(set_1)

{False, True, 'Banana', 'og', 'Muskmelon', 'munna', 'sahoo', 'Apple'}

In [9]:
set_1={"Banana","Muskmelon","Apple","Banana"}
list_1=["Papaya","custurd apple"]
set_1.update(list_1)    # allow all iterable to update
print(set_1)

{'Papaya', 'Banana', 'Muskmelon', 'Apple', 'custurd apple'}

# Remove and Discard
- remove() -> it gives error if element not present
- discard() -> does not give error if element not present

In [19]:
set_5={"Banana","Muskmelon","Apple","Banana"}
set_5.remove("Apple")  # it gives error if element not present
set_5

{'Banana', 'Muskmelon'}

In [27]:
set_6={"A","B","C","D"}
set_6.discard("A")    # does not give error if element not present
set_6

{'B', 'C', 'D'}

In [29]:
a=set_5.pop()   # don't give the argumnet to the pop method
print(a)

Banana

In [30]:
set_5.clear()
set_5

set()

In [31]:
del set_5